.wrapper {
  height: calc(100vh - 200px);
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper .container {
  display: flex;
  flex-direction: column;
 min-width: 30vw;
  box-shadow: 1px 1px 1rem #c6c3c3;
  padding: 1.7rem;
  border-radius: .5rem;
  border: 1px solid #0011ff30;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin: 1rem 0;
}
.container form input {
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #c3c3c3;
  padding: 1rem;
}

.container .btn {
  background: #007bff;
  color: aliceblue;
  padding: 1rem;
  border-radius: 0.2rem;
  font-weight: bold;
  font-size: 0.9rem;
  display: block;
  margin-top: 1.5rem;
}

.container .social{
  background: #3b3e42;
  color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 0.2rem;
  font-weight: bold;
  font-size: 0.9rem;
  display: block;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
button:nth-child(2) svg {
  font-size: 1.3rem;
}
.container b {
  font-size: 0.7rem;
}

.container span {
  font-size: 0.7rem;
  margin: auto;
  border-top: 1px solid;
  margin-top: 1rem;
}
