/* .wrapper {
  background: #fff;
  padding: 0rem 1rem;
  border: 1px solid #e8e7e7;
  box-shadow: 1px 1px 0.5rem #d0c9c9;
  height: fit-content;
}
.top {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;/
} */
/* 
.image {
  position: relative;
  height: 15rem;
  width: 15rem;
  border-radius: 100%;
  overflow: hidden;
}

.img {
  object-fit: cover;
}

.desc {
  font-weight: bold;
  font-size: 0.8rem;
}

.featured {
  font-size: 0.8rem;
  padding: 1rem;
  border-bottom: 1px solid #dddddd;
}

.featured b {
  font-size: 1rem;
  padding: 0.5rem 0 0 0;
  border-top: 1px solid rgb(209, 209, 209);
}

.icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
}

.icons svg {
  font-size: 1.2rem;
  align-self: center;
} */

/* rightSide */



.rightWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* .rightWrapper p{
  margin: auto;

} */


.col {
  display: grid;
  grid-template-columns: 40% 57%;
  padding: 1rem;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 1rem gray;
  gap: 3%;
  background: #ffffff;
  width: 100%;
}

.imageright {
  position: relative;
}

.content {
  font-weight: bold;
  color: #6a6a6a;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 0.8rem;
}

.content h3 {
  color: #000000;
}

.base{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .2rem 0;
}

.img{
  object-fit: cover;
}

@media (max-width: 924px) {
  .col {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 1rem gray;
    gap: 1.2rem;
    background: #ffffff;
    width: 100%;
  }

  .imageright {
    height: 15rem;
  }
}


